body {
    background-color: peachpuff;
}

header {
    color:saddlebrown;
    text-align:center;
    font-weight: bold;
}

p {
    color:saddlebrown;
}
p.desc {
    color:rgb(153, 9, 9);
}

h2 {
    text-align: center;
}

table {
    border: #b2b2b2 1px solid;
    width: 100%;
}

td {
   border:black 1px solid;

}
colgroup.fondo{
    background-color:#FFECCE;
}

p.tabla {
    color:rgb(216, 57, 9);
}

h3 {
    color:rgb(216, 57, 9);
}

td.amarillo{
    background-color:#FFECCE;
}